* {
  margin: 0;
  padding: 0;
  box-shadow: none;
}
body {
  background-image: url(images/starwars-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.border-bottoms {
  border-bottom: solid 5px !important;
  border-color: black !important;
}
